.nav-link-orbit {
    color: rgba(255, 255, 255, 0.8) !important;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link-orbit:hover {
    background-color: #272727bd !important;
}

.nav-link-orbit.active {
    background-color: maroon !important;
}