.parchment-card {
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.parchment-card:hover {
    z-index: 999;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 0 15px rgba(255, 215, 0, 0.3);
    filter: brightness(1.1);
}